body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color:#1a1919;
    font-size: 16px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-top:20px;
    background:white;
    opacity: 0.9;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt, .dl-horizontal dd {
    white-space: pre-line;
    
}

.dl-horizontal dd {
   
    padding-left:10px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.btn > a {
    color: white;
    text-decoration: none;
}

#SearchString {
    height: 30px;
}

#btnAddNew {
  
 
}

.navbar {
    background-color: #68100e !important;
}

.tblHeader {
     background-color:#1a1919;
     opacity:0.9;
     color:#d8d7d7;
}

.tblHeader a {
     color: white;
}

#btnDelete {
    margin-left:16%;
}

footer {
    text-align: center;
}





